name: Publish
on:
  workflow_dispatch:
  workflow_run:
    workflows: ["Check and Test"]
    branches: [main]
    types:
      - completed

permissions:
  contents: none # we use the github app's token to checkout and push

jobs:
  publish:
    if: |
      github.event_name == 'workflow_dispatch' || (
        startsWith(github.event.workflow_run.head_commit.message, 'chore(ci): bump packages') &&
        github.event.workflow_run.conclusion == 'success'
      )

    runs-on: ubuntu-latest

    steps:
      - uses: mongodb-js/devtools-shared/actions/setup-bot-token@main
        id: app-token
        with:
          app-id: ${{ vars.DEVTOOLS_BOT_APP_ID }}
          private-key: ${{ secrets.DEVTOOLS_BOT_PRIVATE_KEY }}

      - uses: actions/checkout@v4
        with:
          # don't checkout a detatched HEAD
          ref: ${{ github.head_ref }}
          token: ${{ steps.app-token.outputs.token }}
          submodules: recursive

          # this is important so git log has the whole history
          fetch-depth: "0"

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22.x
          cache: "npm"

      - name: Install npm
        run: npm install -g npm@9

      - name: Install Dependencies
        run: |
          npm run bootstrap-ci
        shell: bash

      - name: "Publish what is not already in NPM"
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: |
          echo "//registry.npmjs.org/:_authToken=${NPM_TOKEN}" > .npmrc
          git update-index --assume-unchanged .npmrc
          npm run publish-packages

      - name: "Publish tags"
        run: |
          npx lerna list -a --json | \
            jq -r '.[] | .name + "@" + .version' | \
            xargs -i sh -c "git tag -a {} -m {} || true"
          git push --follow-tags
