name: Publish
on:
  workflow_run:
    workflows: ["Check and Test"]
    branches: [main]
    types:
      - completed

jobs:
  publish:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest

    steps:
    - name: "Checkout"
      uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: "Use NodeJS 14"
      uses: actions/setup-node@v2
      with:
        node-version: '14'

    - name: Setup Node.js Environment
      uses: actions/setup-node@v2
      with:
        # Version Spec of the version to use.  Examples: 12.x, 10.15.1, >=10.15.0
        node-version: ^14.17.5
        cache: 'npm'

    - name: Install npm@7
      run: npm install -g npm@7

    - name: Install Dependencies
      run: |
        npm run bootstrap-ci
      shell: bash

    - name: "Publish what is not already in NPM"
      env:
        NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
      # NOTE we should add --no-verify-access with an automation token
      run: |
        echo "//registry.npmjs.org/:_authToken=${NPM_TOKEN}" > .npmrc
        git update-index --assume-unchanged .npmrc
        npx lerna publish from-package --no-changelog --no-push --exact --no-git-tag-version --force-publish --yes

